 /* reset */
 img,
 svg,
 picture,
 video {
     max-width: 100%;
 }

 body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009688 0px,
        #009688 15vh,
        #D9DBD4 15vh,
        #D9DBD4
    );
    overflow: hidden;
    
 }

 /* container app */
 .app-container{
    width: 90%;
    height: 95vh;
    margin: auto;
    margin-top: 1rem;
 }

 .row{
    height: 100%;
    padding: 0;
 }

 .col-5{
    padding: 0;
    height: 100%;
 }

  .col-7{
      padding: 0;
      height: 100%;
  }

  /* my contact */
  .my-contact{
    height: 60px;
    background-color: hsl(0deg 0% 92%);
    border-right: 2px solid hsl(0, 3%, 81%);
  }

  img{
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .my-contact .options{
    width: 70px;
    margin-right: 20px;
  }

.my-contact .options i {
    font-size: 1.3rem;
    color: hsl(0deg 0% 69%);
    cursor: pointer;
}


/* container notifiche */

.notice{
    height: 70px;
    background-color: #8EDAFC;
}

.notice .back{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.notice .back i{
    color: #8EDAFC;
    font-size: 1.3rem;
    cursor: pointer;
}

.notice .bold-text{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0;
}

.notice .underline-text {
    font-size: 0.8rem;
    text-decoration: underline;
    margin-bottom: 0;
}

/* contact-list */
.contact-list{
    overflow: auto;
}

.contact-list .selected{
    background-color: hsl(180deg 5% 92%);
}

.contact-list .contact-box{
    border-bottom: 1px solid hsl(0, 3%, 81%);
    background-color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

.contact-box:hover{
    background-color: hsl(180deg 5% 92%);
}

.contact-list .last-message{
    font-size: 0.7rem;
}

.time-last-message{
    font-size: 0.6rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 8px;
}

/* contact-open */
.contact-open{
    background-color: hsl(0deg 0% 92%);
    height: 60px;
}

.contact-open .latest-access{
    font-size: 0.8rem;
}


.contact-open .details{
    width: 80px;
    margin-right: 1rem;
}

.contact-open .details i{
    color: hsl(0deg 0% 69%);
    cursor: pointer;
}

/* message-area */
.message-area{
    height: calc(100% - 130px);
    background-image:url(../img/mine.jpg);
    background-size: contain;
    padding-top: 30px;
    overflow: auto;
}

.message-area .minutes-message{
    font-size: 0.7rem;
    text-align: right;
}



/* MESSAGE CLASS */
.box-message{
    max-width: 70%;
    border-radius: 5px;
    min-width: 300px
}

.sent{
    background-color: hsl(94deg 84% 85%);
    align-self: flex-end;
    margin-right: 20px;
}

.received{
    background-color: hsl(0deg 0% 100%);
    margin-left: 20px;
}


/* write-message-area */

.write-message{
    height: 60px;
    width: 100%;
    background-color: hsl(27deg 27% 94%);
    margin-bottom: 11px;
}

.write-message input{
    margin-top: 15px;
}

.write-message span {
    margin-top: 20px;
    color: gray;
}

.write-message span i{
    cursor: pointer;
}



