 /* reset */
 img,
 svg,
 picture,
 video {
     max-width: 100%;
 }

 /* container app */
 .app-container{
    width: 90%;
    height: 95vh;
    background-color: red;
    margin: auto;
    margin-top: 1rem;
 }

 .row{
    height: 100%;
    padding: 0;
 }

 .col-5{
    background-color: green;
    padding: 0;

 }

  .col-7{
      /* background-color: blue; */
      padding: 0;

  }

  /* mio contatto */

  img{
    width: 50px;
    border-radius: 50%;
  }

  .my-contact .options{
    width: 70px;
  }

.my-contact .options i {
    font-size: 1.3rem;
}


/* container notifiche */

.notice{
    height: 70px;
    background-color: aqua;
}

.notice .back{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.notice .back i{
    color: aqua;
    font-size: 1.3rem;
}

.notice .bold-text{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0;
}

.notice .underline-text {
    font-size: 0.8rem;
    text-decoration: underline;
    margin-bottom: 0;
}

/* contact-list */
.contact-list .contact-box{
    background-color: antiquewhite;
}

.contact-list .contact-box{
    border: 1px solid gray;
}

/* contact-open */
.contact-open{
    background-color: antiquewhite;
}

.contact-open .details{
    width: 80px;
    margin-right: 1rem;
}

/* message-area */
.message-area{
    background-image:url(../img/mine.jpg);
}
