<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link css -->   
    <link rel="stylesheet" href="./css/style.css">

    <!-- link Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- link script -->
    <script type="text/javascript" src="./js/main.js" defer></script>
</head>

<body>
    <div id="root">
        <div class="app-container">
            <div class="row">
                <div class="col-5 d-flex flex-column">

                    <!-- container mio contatto -->
                    <div class="my-contact d-flex justify-content-between">
                        <div class="img-container">
                            <img class="mt-1" src="./img/avatar_io.jpg" alt="">
                            <span class="my-name">Sofia</span>
                        </div>
                        <div class="options d-flex align-items-center justify-content-between">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <!-- container notifiche -->
                    <div class="notice d-flex align-items-center">
                        <span class="back d-flex justify-content-center align-items-center ms-3">
                            <i class="fa-solid fa-bell-slash"></i>
                        </span>
                        <div class="text">
                            <p class="bold-text">Ricevi notifiche di nuovi messaggi</p>
                            <p class="underline-text text-muted">Attiva notifiche desktop</p>
                        </div>
                    </div>

                    <!-- container search -->
                    <div class="input-group px-2 py-1 ">
                         <button class="btn btn-outline-secondary" type="button" id="button-addon1">
                            <i class="fa-solid fa-magnifying-glass"></i>
                         </button>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Example text with button addon"
                                    aria-describedby="button-addon1"
                                    v-model="searchContact"
                                    @keyup="searchWord()">
                    </div>

                    <!-- contact-list -->
                    <div class="contact-list flex-grow-1">
                        <div class="contact-box py-1"
                             :class="(contact == contacts[activeChat]) ? 'selected' : ''"
                             v-for="(contact, index) in contacts"
                             @click="swithToChat(index)"
                             v-show="contact.visible == true">
                             <div class="details-contact d-flex align-items-center">
                                <img :src="'./img/avatar' + (contact.avatar) + '.jpg'" alt="">
                                 <p class="d-inline-block ms-2"> {{contact.name}} <br>
                                 <span class="last-message text-muted">{{contact.messages[contact.messages.length - 1].text}}</span></p>
                             </div>
                             <span class="time-last-message text-muted">12:00</span>
                        </div>
                    </div>
                </div>

                <!-- right column -->
                <div class="col-7 d-flex flex-column">
                    <!-- contact-open -->
                    <div class="contact-open d-flex justify-content-between">
                        <div class="contact-open-box d-flex align-items-center">
                            <img :src="'./img/avatar' + (contacts[activeChat].avatar) + '.jpg'" alt="">
                            <p class="m-0 ms-2">{{ contacts[activeChat].name }} <br>
                             <span class="latest-access text-muted">Ultimo accesso oggi alle 12:00</span></p>
                        </div>
                        <div class="details d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- message-area -->
                    <div class="message-area flex-grow-1 d-flex flex-column align-items-start">
                        <div v-for="(message, i) in contacts[activeChat].messages"
                             class="mb-3 box-message"
                             :class="(message.status == 'sent') ? 'sent' : 'received'"
                            ><p class="m-0 ps-2 pt-2"> {{ message.text }}</p>
                            <p class="minutes-message m-0 pb-1 pe-1 text-muted">{{ message.date }}</p>
                        </div>
                    </div>
                    <!-- write-message-area -->
                    <div class="write-message">
                        <div class="input-group mb-3">
                            <span class="px-3"><i class="fa-regular fa-face-smile"></i></span>
                            <input type="text" class="form-control"
                                   placeholder="Scrivi un messaggio"
                                   v-model="newMessage.text"
                                   @keyUp.enter="sendMessage(),okMessage()">
                            <span class="px-3"><i class="fa-solid fa-microphone"></i></span>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</body>

</html>